node_modules
build
*~
biz.tar.gz
index.json
.DS_Store
*.orig
target
.idea
.idea/*
*.iml
*.log
dev/application.yml
dev/log4j2.xml
logs/*
.vscode
jsconfig.json
yarn.lock
docker-compose.yml
Deberfile
Deberfile.env
.favorites.json
.history
.swc